// Mathematical library
@use "sass:math";

// Fonts
@import "_fonts.scss";

// Reset basic style
@import "_reset.scss";

// Functions
@import '_functions.scss';

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  > main {
    flex-grow: 1;
  }
}

body {
  color: black;
  background: rgb(60,230,232);
  background: linear-gradient(0deg, rgba(60,230,232,1) 0%, rgba(86,158,223,0.774969362745098) 88%);
  font-size: toRem(16); // розміру шрифту, замість px в rem

  padding: toRem(20);
  margin: 0 auto;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

footer {
  margin: 0 auto;
}

ol {
  display: flex;
  row-gap: toRem(20);
  column-gap: toRem(20);
}

h1 {
  display: flex;
  justify-content: center;
  font-size: toRem(20);
  font-weight: 900;
}

h2 {
  display: flex;
  font-size: toRem(16);
  margin-bottom: toRem(20);
  font-weight: 700;
}

p {
  font-weight: 500;
  font-style: normal;
}